@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <div class="sidebar">
        <AuthorizeView>
            <Authorized>
                <NavMenu />
            </Authorized>
            <NotAuthorized>
                <!-- Opcional: conteúdo para usuários não autorizados -->
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>