@code {
    [Parameter] public string Message { get; set; }
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }

    private Task CloseAlert()
    {
        return IsVisibleChanged.InvokeAsync(false);
    }
}

@if (IsVisible)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Atenção!</strong> @Message
        <button type="button" class="btn-close" @onclick="CloseAlert" aria-label="Close"></button>
    </div>
}
